<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    </meta>
    <title>Singpass Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script type="text/javascript" src="../javascript/nricGenerator.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Singpass</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form th:object="${user}" method="GET" role="form" th:action="@{/sp/cb}">
                    <input type="hidden" name="RelayState" id="RelayState" th:value="${target}" />
                    <legend>Login</legend>

                    <div class="form-group">
                        <label for="userName"></label>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
                              <input type="text" class="form-control" name="userName" id="userName" placeholder="User Name" th:field="*{userName}"></input>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <button type="button" onClick="setNRIC(0)" class="btn btn-primary">Random 'S' NRIC</button>
                        </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <button type="button" onClick="setNRIC(1)" class="btn btn-primary">Random 'T' NRIC</button>
                        </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>